name: first workflow

on: 
  push:
    branches:
      - main
jobs:
  example-job:
    runs-on: ubuntu-latest


    steps:
      - name: print a welcome message
        run : echo "welcome to first github actions!"

      - name: checkout workflow 
        uses: actions/checkout@v6.0.2

      - name: list repo files 
        run: ls -la

      
        
